@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* Variables */

:root {
    --primary: #00A651;
    --secondary: #8F4525;
    --secondary-hover: #804020;
    --tertiary: #F7B900;
    --tertiary-hover: #F0B000;
    --lightgray: #F1F1F1;
    --black: #1D1D1D;
}

/* Overrides */

* {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

button:hover {
    cursor: pointer;
}

b {
    font-weight: 500;
}

/* Reusable rules */

.with-margins {
    margin-left: 10%;
    margin-right: 10%;
}

.h-stack {
    display: flex;
    flex-direction: row;
}

.btn-primary {
    background-color: var(--secondary);
    color: white;
    font-weight: 400;

    padding: 12px 24px 12px 24px;
    border: none;
    border-radius: 12px;
}

.btn-primary:hover {
    background-color: var(--secondary-hover);
}

.btn-secondary {
    background-color: var(--tertiary);
    color: white;
    font-weight: 400;

    padding: 12px 24px 12px 24px;
    border: none;
}

.btn-secondary:hover {
    background-color: var(--tertiary-hover);
}

.btn-tertiary {
    background-color: transparent;
    color: white;
    font-weight: 400;
    padding: 12px 24px 12px 24px;
    border: none;
}

.btn-tertiary:hover {
    opacity: 0.5;
}

/* Header and Navigation */

#header-logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

#header-logo:hover {
    opacity: 0.5;
}

#header-text-banner {
    max-width: 220px;
    max-height: 30px;
    margin-right: auto;
}

header div {
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    margin-left: 5px;
    justify-content: space-between;
}

nav button {
    border: none;
    background-color: transparent;
    font-weight: 500;
    border: none;
}

nav button:hover {
    color: var(--primary);
}

#donation-banner {
    background-color: var(--secondary);
    color: white;
    text-align: center;
    font-size: small;
    
    margin-bottom: 8px;
}

#donation-banner:hover {
    background-color: var(--secondary-hover);
    cursor: pointer;
}

#donation-banner span {
    font-weight: 400;
}

/* Who We Are */

#body-who-we-are {
    background-color: var(--primary);
    color: white;

    align-items: center;

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 35px;
    padding-bottom: 35px;
}

#body-who-we-are h1 {
    font-weight: 640;
    font-size: 20pt;
    color: black;
}

#body-who-we-are p {
    font-size: small;
    line-height: 25px;
}

#body-who-we-are div div button:first-child {
    margin-right: 25px;
}

#body-who-we-are img {
    width: 450px;
    height: 250px;
    margin-left: 45px;
}

/* Mission */

#body-mission {
    text-align: center;
}

#body-mission h2 {
    color: var(--primary);
    font-weight: 500;

    margin-top: 60px;
}

#body-mission p {
    font-size: small;
    line-height: 25px;
}

/* Values */

#body-values {
    text-align: center;
}

#body-values h2 {
    color: var(--secondary);
    font-weight: 500;
    margin-top: 150px;
}

#body-values table tr th img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

#body-values table tr td span {
    color: var(--primary);
    font-size: medium;
    font-weight: 500;
}

#body-values table tr td {
    font-size: small;
    line-height: 20px;
}

.body-value-desc {
    vertical-align: top;
}

/* Thank You */

#body-thank-you {
    margin-top: 150px;
    margin-bottom: 100px;
}

#body-thank-you img {
    width: 200px;
    height: auto;
    border-radius: 5px;

    margin-right: 80px;
}

#body-thank-you h2 {
    color: var(--primary);
    font-weight: 500;
}

#body-thank-you p, #body-thank-you ul {
    font-size: small;
}

#body-thank-you button {
    background-color: var(--primary);
    margin-top: 15px;
}

#body-thank-you button:hover {
    opacity: 0.8;
}

/* Footer */

footer {
    background-color: var(--lightgray);
    padding-top: 50px;
}

footer span, footer ul {
    font-size: small;
}

footer p {
    font-size: x-small;
}

#footer-summary div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-summary div img {
    width: 75px;
    height: auto;
}

#footer-summary div p {
    max-width: 250px;
}

#footer-summary table th {
    font-weight: 500;
}

#footer-summary table td {
    vertical-align: top;
    margin-top: 0px;
}

#footer-socials {
    margin-top: 5px;
    align-items: center;
    padding-bottom: 30px;
}

#footer-socials span {
    font-size: x-small;
}

#footer-socials span:first-child {
    margin-right: 5px;
}

#footer-socials span:nth-child(2) {
    margin-right: auto;
}

#footer-socials a {
    margin-left: 5px;
    margin-right: 5px;
}

#footer-socials a:first-child {
    margin-left: 5px;
}

.fa {
    padding: 3px;
    font-size: 10px;
    border-radius: 3px;
    width: 20px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook, .fa-linkedin, .fa-instagram {
    background: var(--black);
    color: white;
}
